<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Library Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body{
          background-color: rgb(214, 213, 213);
      }
    </style>
  </head>
  <body>
    <!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner"> -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <div class="container">
                    <div class="navbar-header">
                        <h1 class= "navbar-brand mb=0 h1">Library Manager</h1>
                    </div>
        <ul class="navbar nav-tabs navbar-nav ">
        <a class="nav-link " href="https://djsce.ac.in" style="color:white">DJSCE</a>
        <a class="nav-link" href="#" style="color:white">Contact Us</a>                                         
        <a class="nav-link" href="slogin.html" style="color:white">Student login</a>
        <a class="nav-link" href="admin.html" style="color:white">Admin login</a> 
        <a class="nav-link" href="staff.html" style="color:white">Staff Login</a>
        <form class="form-inline" action="https://www.google.com/search" method="get">
            <div class="form-group">
                <input type="text" name="q" value="" placeholder="search on web" class="form-control-lg">
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            </div>
            
            </form>
      <!-- <span class="navbar-text">
          Library Management System
      </span> -->
    </div>
</nav>
  <!-- </header> -->
<div class="container" style="margin-top: 8% ; text-align: center ; text-emphasis: bold ;">
  <main role="main" class="inner cover">
    <h1 class="cover-heading"> DJSCE Online College Library</h1>
    <p class="lead">Library is the place to solve all your doubts in a peaceful environment and be your own teacher.</p><br>
    <p class="lead"><b>The Library of Dwarkadas J. Sanghvi College of Engineering is named officially as “Manubhai P. Sanghvi Knowledge Centre”. This fully air-conditioned and well-furnished Library is situated on the first floor of the college building. The total library area is of more than 7500 sq. ft. It is facilitated with reprography & also a 24 hours Wi-Fi network connection. Library is open for more than 10 hrs. (8.15 am. to 6.30 pm.) on all working days and 12 hours during exams.

            The fully computerized Library is a treasure house of knowledge comprising an ever growing collection of about 45,604 books and more than 1,46,000 e-books with 4 e-journals covering all aspects of Mechanical, Production, Chemical, Electronics, Electronics and Telecommunications, Information Technology, Computer & Biomedical Engineering. The periodical section is a vital source for academic research and up-to-date information in the field of Engineering. Library holds 91 printed journals (national & international). Besides this, the library has collection of bound volumes of journals, audio visual material, newspapers, Black books of dissertations, project CDs, etc.
            
            The web based access of the e-journals to all students and faculty is an important facility provided by the library. Library users can access a variety of full text journals covering variety of titles published by worldwide journals publishers. Library subscribes seven e-journals every year for the students and faculties. The library arranges regular awareness programs on use of electronic resources. The entire Library collections of all SVKM & other institutions of SVKM including books, journals, etc. can be searched through the Online Public Access Catalogue (OPAC). Users can access the OPAC to find out the real-time availability of all library materials from their own computer terminals as well as from home.
            
            Library has a well-equipped Seminar Hall with Webinar and conferencing facility. The library has transformed, from a traditional library with manual transactions to an Electronic library and now is moving into being a Digital Library. As a first step, library has scanned all the question papers and the access has been given to the students through Blackboard.
            
            Newly created Digital Library with DSPACE open source software is an important resource for all the students and faculty members of the college as it is a service model for open access and digital archiving for perennial access. Moreover, it provides a platform to frame an Institutional Repository and the collections can be searched and retrieved through the Web. Library has an institutional membership of ASM International, USA, where the user community can use the resources available with a host of other institutions. Also, the Library has a membership of National Digital Library (NDL). More than 10 million documents are available in NDL including e-books, journal articles, video lectures etc.</b></p>
    </p>
  </main>
</div>
</div>
</body>
</html>
